{% extends 'base.html' %}
{% block content%}
 <div>
    <a class="btn" href="{{ url_for('routes.register') }}">Create a new user</a>
 </div>
 <h3>All registered users</h3>
 {% if users %}
  {% for u in users%}
    <div class="user-card">
        <div class="small">{{ u['email'] }}</div>
        <div class="actions">
            <a href="{{ url_for('routes.profile', user_id=u['id'])}}">View</a>
            <a href="{{ url_for('routes.update', user_id=u['id'])}}">Edit</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No users are currently registered, be the first.</p>
    {% endif %}
{% endblock %}
