{% extends 'base.html' %}
{% block content %}
 <h2>{{ user['username']}}</h2>
 <div class="card">
    <div><strong>Email:</strong> {{ user['email']}}</div>
    <div><strong>Age:</strong> {{ user['age']}}</div>
    <div><strong>Bio:</strong> {{ user['bio']}}</div>
    <div class="small">{{ user['bio'] or 'NO bio has been provided' }}</div>
    <div class="actions">
        <a href="{{ url_for('routes.update', user_id=user['id'])}}">Edit Profile</a>
        <a href="{{ url_for('routes.index') }}">Back to list</a>
    </div>
 </div>
{% endblock %}